*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: coral;
}

.singleTaskDiv{
    max-width:400px;
}



.addTaskInputDiv{
    margin: auto;

}

.addTaskDayDiv{
    margin: auto;
    
}

.trash{
    
}